extends  ../_skeleton

block variables
	- var activeCategory = 'blog'
	- var pageName = 'Sidebar Blog'

block page 
	// Page Header
	include ../sections/_header-thin

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-about-us'
	})
	
	section.section.section-lg
		.container
			article.blog-layout
				.blog-layout-main
					.row.row-50.row-xxl-70
						.col-sm-6
							// Post Classic
							article.post-classic
								a.post-classic-media(href=links.post): +jpg('sidebar-blog-1-370x264')
								ul.post-classic-meta
									li: a.button-winona(href='#') News
									li: time(datetime='2018') Apr 21, 2018 at 12:05 pm
								h4.post-classic-title: a(href=links.post) Why Choose Cruises Instead of Tours


						.col-sm-6
							// Post Classic
							article.post-classic
								a.post-classic-media(href=links.post): +jpg('sidebar-blog-2-370x264')
								ul.post-classic-meta
									li: a.button-winona(href='#') News
									li: time(datetime='2018') Apr 21, 2018 at 12:05 pm
								h4.post-classic-title: a(href=links.post) 5 Adventure Cruises You Cannot Miss
		
						.col-sm-6
							// Post Classic
							article.post-classic
								a.post-classic-media(href=links.post): +jpg('sidebar-blog-3-370x264')
								ul.post-classic-meta
									li: a.button-winona(href='#') News
									li: time(datetime='2018') Apr 21, 2018 at 12:05 pm
								h4.post-classic-title: a(href=links.post) Top Ten Cruise Destinations
								
						.col-sm-6
							// Post Classic
							article.post-classic
								a.post-classic-media(href=links.post): +jpg('sidebar-blog-4-370x264')
								ul.post-classic-meta
									li: a.button-winona(href='#') News
									li: time(datetime='2018') Apr 21, 2018 at 12:05 pm
								h4.post-classic-title: a(href=links.post) Best Family Friendly Cruises of This Season


						.col-sm-6
							// Post Classic
							article.post-classic
								a.post-classic-media(href=links.post): +jpg('sidebar-blog-5-370x264')
								ul.post-classic-meta
									li: a.button-winona(href='#') News
									li: time(datetime='2018') Apr 21, 2018 at 12:05 pm
								h4.post-classic-title: a(href=links.post) 7 Discounts on Cruises You Need to Know About


						.col-sm-6
							// Post Classic
							article.post-classic
								a.post-classic-media(href=links.post): +jpg('sidebar-blog-6-370x264')
								ul.post-classic-meta
									li: a.button-winona(href='#') News
									li: time(datetime='2018') Apr 21, 2018 at 12:05 pm
								h4.post-classic-title: a(href=links.post) 5 Things You’ll Only Find on Carnival Cruises
								
					.pagination.justify-content-sm-center.justify-content-md-start
						.page-item.active: a.page-link.button-winona(href='#') 1
						.page-item: a.page-link.button-winona(href='#') 2
						.page-item: a.page-link.button-winona(href='#') 3
						.page-item: a.page-link.button-winona(href='#') 4


				.blog-layout-aside
					.blog-layout-aside-item
						p.blog-layout-aside-title Search Blog
						// RD Search
						form.rd-form.rd-search.rd-search-classic(action='search-results.html' method='GET')
							.form-wrap
								input.form-input#rd-search-form-input(type='text' name='s' autocomplete='off')
								label.form-label(for='rd-search-form-input') Search
								
							button.rd-search-submit(type='submit')
							
					.blog-layout-aside-item
						p.blog-layout-aside-title Archive
						ul.list-marked
							li: a(href='#') May 2018
							li: a(href='#') April 2018
							li: a(href='#') March 2018
							li: a(href='#') February 2018
							li: a(href='#') January 2018
							
					.blog-layout-aside-item
						p.blog-layout-aside-title About Us
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
							
					.blog-layout-aside-item
						p.blog-layout-aside-title Categories
						ul.list-marked
							li: a(href='#') News
							li: a(href='#') Cruises
							li: a(href='#') Traveling
							li: a(href='#') Tips
							li: a(href='#') Ships
							
					.blog-layout-aside-item
						p.blog-layout-aside-title Tags
						ul.list-inline-comma
							li: a(href='#') Cruises
							li: a(href='#') Tips
							li: a(href='#') Ships
							li: a(href='#') Recommendations
							li: a(href='#') Traveling
							li: a(href='#') News
				
	// Page Footer
	include ../sections/_footer-linked
