.slick-widget-testimonials.wow.fadeIn
	.slick-slider.carousel-child#child-carousel(
	data-for='.carousel-parent'
	data-arrows='true'
	data-loop='true'
	data-dots='false'
	data-swipe='true'
	data-items='1'
	data-sm-items='3'
	data-md-items='5'
	data-lg-items='5'
	data-xl-items='5'
	data-center-mode='true'
	data-slide-to-scroll='1')
		.item.wow-outer: +jpg('testimonials-person-1-96x96').wow.slideInLeft
		.item.wow-outer: +jpg('testimonials-person-2-96x96').wow.slideInLeft
		.item.wow-outer: +jpg('testimonials-person-3-96x96').wow.slideInLeft
		.item.wow-outer: +jpg('testimonials-person-4-96x96').wow.slideInLeft
		.item.wow-outer: +jpg('testimonials-person-5-96x96').wow.slideInLeft
		.item.wow-outer: +jpg('testimonials-person-4-96x96').wow.slideInLeft


	// Slick Carousel
	.slick-slider.carousel-parent(
	data-arrows='false'
	data-loop='true'
	data-dots='false'
	data-swipe='false'
	data-items='1'
	data-fade='true'
	data-child='#child-carousel'
	data-for='#child-carousel')


		.item

			blockquote.quote-light
				cite.quote-light-cite Kelly McMillan
				p.quote-light-caption Regular Client
				+quote-mark.quote-light-mark
				.quote-light-text: p I’ve just returned from the Holiday and wanted to say how much I enjoyed every element. Our package included a 3-night stay on the Queen Mary in Long Beach. What a fantastic experience it was!

		.item

			blockquote.quote-light
				cite.quote-light-cite Harold Barnett
				p.quote-light-caption Regular Client
				+quote-mark.quote-light-mark
				.quote-light-text: p Once again, the team at Cruise has been professional and yet friendly in their dealings with clients and I absolutely recommend their cruises and services without hesitation.


		.item

			blockquote.quote-light
				cite.quote-light-cite Albert Webb
				p.quote-light-caption Regular Client
				+quote-mark.quote-light-mark
				.quote-light-text: p Going through the Panama Canal was fascinating. It was an unforgettable experience and the customer service was outstanding. Thank you for the best service and experience!


		.item

			blockquote.quote-light
				cite.quote-light-cite Samantha Lee
				p.quote-light-caption Regular Client
				+quote-mark.quote-light-mark
				.quote-light-text: p Thank you so much for arranging our cruise. We had a fantastic time. It was our first experience with Cruise but definitely not our last. We are already looking forward to another great cruise.


		.item

			blockquote.quote-light
				cite.quote-light-cite Bill Warner
				p.quote-light-caption Regular Client
				+quote-mark.quote-light-mark
				.quote-light-text: p My wife and I booked a cruise with your company, which was one of the best cruises we have experienced. Your team did a great job on planning everything and the whole experience was amazing!


		.item

			blockquote.quote-light
				cite.quote-light-cite Samantha Lee
				p.quote-light-caption Regular Client
				+quote-mark.quote-light-mark
				.quote-light-text: p Thank you so much for arranging our cruise. We had a fantastic time. It was our first experience with Cruise but definitely not our last. We are already looking forward to another great cruise.



							
