section.section.text-center
	// Owl Carousel
	.owl-carousel.owl-carousel-dots-space(
	data-items='2'
	data-sm-items='3'
	data-md-items='4'
	data-lg-items='5'
	data-xl-items='6'
	data-dots='true'
	data-nav='false'
	data-stage-padding='0'
	data-loop='true'
	data-margin='0'
	data-mouse-drag="false")
		// Thumbnail Thin
		.wow-outer: a.thumbnail-thin.wow.slideInLeft(href='images/gallery-original-1.jpg' data-lightgallery='item'): .thumbnail-thin-inner
			+jpg('galleries-1-320x320', 'thumbnail-thin-image')

		// Thumbnail Thin
		.wow-outer: a.thumbnail-thin.wow.slideInLeft(href='images/gallery-original-2.jpg' data-lightgallery='item'): .thumbnail-thin-inner
			+jpg('galleries-2-320x320', 'thumbnail-thin-image')

		// Thumbnail Thin
		.wow-outer: a.thumbnail-thin.wow.slideInLeft(href='images/gallery-original-3.jpg' data-lightgallery='item'): .thumbnail-thin-inner
			+jpg('galleries-3-320x320', 'thumbnail-thin-image')

		// Thumbnail Thin
		.wow-outer: a.thumbnail-thin.wow.slideInLeft(href='images/gallery-original-4.jpg' data-lightgallery='item'): .thumbnail-thin-inner
			+jpg('galleries-4-320x320', 'thumbnail-thin-image')

		// Thumbnail Thin
		.wow-outer: a.thumbnail-thin.wow.slideInLeft(href='images/gallery-original-5.jpg' data-lightgallery='item'): .thumbnail-thin-inner
			+jpg('galleries-5-320x320', 'thumbnail-thin-image')

		// Thumbnail Thin
		.wow-outer: a.thumbnail-thin.wow.slideInLeft(href='images/gallery-original-6.jpg' data-lightgallery='item'): .thumbnail-thin-inner
			+jpg('galleries-6-320x320', 'thumbnail-thin-image')
